@import './functions.scss';

$base: rem(4px);

$transition-duration: .2s;

$font-size-sm: rem(15px);
$font-size-md: rem(20px);
$font-size-lg: rem(28px);
$font-size-xl: rem(72px);

$line-height-sm: rem(18px);
$line-height-md: rem(30px);
$line-height-lg: rem(36px);
$line-height-xl: rem(84px);

$color-gray: #d5d5d5;
$color-white: #fff;
$color-black: #333;
$color-red: #d80e0e;

$screen-xs-max: 576px;
$screen-md-max: 991px;
$screen-lg-max: 1200px;
