@import '../../styles/variables.scss';

.app-header {
    display: flex;
    margin-bottom: $base*15;

    &__col-right {
        font-size: $font-size-md;
        line-height: $line-height-md;
    }

    @media (min-width: $screen-lg-max + 1) {
        align-items: flex-end;

        &__col-left,
        &__col-right {
            flex-basis: 50%;
        }
    }

    @media (max-width: $screen-lg-max) {
        flex-direction: column;

        &__col-left {
            margin-bottom: $base*5;
        }
    }
}

h1 {
    margin: 0 0 $base*3;
    font-size: $font-size-xl;
    font-weight: 300;
    line-height: $line-height-xl;
}

h2 {
    margin: 0;
    font-size: $font-size-lg;
    font-weight: normal;
    line-height: $line-height-lg;
    color: $color-red;
}

.link-admin {
    color: $color-red;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
