@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .topics {
    overflow: hidden;
  }
  .topic {
    @apply pr-2;
    cursor: pointer;
    float: left;
  }
  .topic.active {
    color: #FE0100;
  }

  .main-menu {
    padding-top: 39px;
  }
  .main-menu a {
    @apply text-lg;
    @apply mr-2;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 8px 15px;
    text-decoration: none;
  }
  .main-menu a.active {
    border-color: #000;
  }
  .channel-card {
    @apply grid;
    grid-template-columns: 25% 75%;
  }
  .ityoutubers-member .channel-name,
  .ityoutubers-member .video-title {
    background-size: 15px 15px;
    background-image: url(/fav.png);
    background-repeat: no-repeat;
    background-position-y: 3px;
    padding-left: 20px;
  }
  .list-control {
    cursor: pointer;
  }
  .list-control.active {
    cursor: not-allowed; 
    text-decoration-style: none;
    color: #FE0100;
  }

}