@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .topics {
    overflow: hidden;
  }
  .topic {
    @apply pr-2;
    cursor: pointer;
    float: left;
  }
  .topic.active {
    @apply decoration-rose-600;
    @apply text-rose-600;
  }
}